<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I am Abdallah Ahmed (AKA xUser5000). I'm a sophomore CS Student, Competitive Programmer, and Software Developer. I love to solve problems, build cool projects, and share my knowledge with others.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>xUser5000 Blog</title>
    <style>
        a {
            text-decoration: none;
        } a:hover {
            text-decoration: underline;
        }

    </style>
</head>
<body>
    
    <nav class="navbar navbar-light bg-light p-3">
        <div class="container-fluid justify-content-end">
            <button type="button" class="btn btn-outline-primary">About me</button>
        </div>
    </nav>

    <main class="container pt-5">
        <h2 class="text-primary text-center">Abdallah Ahmed</h2>
        <p class="lead text-center">Just a Computer Science Enthusiast</p>

        <ul class="pt-5" style="list-style-type: none;">
            <li class="py-3">
                <span class="badge bg-secondary me-2">18 Jan 2022</span>
                <a class="text-secondary" href="#">Why Google Summer of Code is a golden opportunity?</a>
            </li>
        </ul>
    </main>

</body>
</html>
